body {
    margin: 0px 10px;
    background: #c2cad0;
    font-family: Arial, Helvetica, sans-serif;
    color: #2c3531;
}
footer, header {
    text-align: right;
    background: #2c3531;
    color: #c2cad0;
    height: auto;
    padding: 5px 10px;
}
header {
    text-align: center;
}