body {
    margin: 0px 10px;
    background: #F7E7DC;
    font-family: Arial, Helvetica, sans-serif;
    color: #283c4a;
}
footer, header {
    text-align: right;
    background: #405D72;
    color: #F7E7DC;
    height: auto;
    padding: 5px 10px;
}
header {
    text-align: center;
}
.title{
    color: rgb(47, 0, 47);
}
.input-group input {
    padding: 5px;
    font-size: 16px;
}
.input-group button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}
.result {
    font-weight: bold;
    margin-bottom: 20px;
}